/* Global variables */
:root {
  --prr-bluehover: #2363b6;
  --prr-lightblue:#32a5d3;
  --prr-extralightgrey: rgb(241, 243, 244);
  --prr-lightgrey: rgb(231, 231, 231);
  --prr-mediumgrey: rgb(123, 124, 127);
  --prr-darkgrey: #222222;
  --prr-orange: #ff914d;
  --prr-red: #ad0606;

  --prr-blue: rgb(33,85,102);
  --prr-orange: rgb(230,158,76);
  --prr-green: rgb(119,242,207);

  --prr-font-weight: 400;
  --prr-font-family: 'Work Sans', sans-serif;
  --prr-font-size-small: 12px;
  /* --prr-font-size-normal: 0.9rem; */
  --prr-font-size-normal: 14px;
  --prr-font-size-medium: 16px;
  --prr-font-size-large: 18px;
  --prr-font-size-huge: 25px;

}

body {
  background-color: white;
  /* background-color: rgb(228, 228, 228); */
  font-family: var(--prr-font-family);
  font-size: var(--prr-font-size-normal);
  font-weight: var(--prr-font-weight);
  color: var(--prr-darkgrey);
  box-sizing: border-box;
  overscroll-behavior-y: contain;
  line-height: 1.5;
  margin: 0px;
}

body.modal-open {
  overflow: hidden;
}

a {
  cursor: pointer;
  color: var(--prr-darkgrey);
  transition: 300ms;
}
a:hover {
  cursor: pointer;
  color: var(--prr-green);
}

label {
  font-size: var(--prr-font-size-normal) !important;
  font-weight: 600 !important;
  margin-top: 20px;
  display:inline-block;
}

button {
  font-family: var(--prr-font-family);
}

h1 {
  font-weight: 600;
}

h1.giant {
  font-weight: 700;
  font-size: 60px;
  text-transform: uppercase;
  margin-top: 10px;
  line-height: 65px;
  margin-bottom: 10px;
}

h1.giant::after {
  content: '.';
  color: var(--prr-green);
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
}

hr {
  border: 0px;
  border-bottom: 1px solid var(--prr-mediumgrey);
}

.splide__pagination__page.is-active {
  background: var(--prr-green) !important;
}

::-moz-selection { /* Code for Firefox */
  color: black;
  background: var(--prr-green);
}

::selection {
  color: black;
  background: var(--prr-green);
}

@media only screen and (max-width: 600px) {

  h1.giant {
    font-size: 40px;
  }
}